http://backend.oscarpalissot.fr, http://www.backend.oscarpalissot.fr {
  reverse_proxy directus-portfolio-web:8055
}

http://oscarpalissot.fr, http://www.oscarpalissot.fr {
  reverse_proxy nextjs-front-portfolio-web:3000
}