.title{
    margin-bottom: 2rem;
}

.gallery{
    display: flex;
    flex-direction: column;
}

.first__work__item{
    display: none;
}

.work__item{
    padding-bottom: 2rem;
}

.work__item img{
    width: 100%;
    height: auto;
}



/* media queries */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .title{
        display: none;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .first__work__item{
        display: block;
    }

    .gallery{
        flex-direction: row;
        justify-content: end;
        align-items: start;
    }

    .left__gallery .work__item{
        border-right: none;
    }

    .work__item{
        padding: 2rem;
        border: 1px solid var(--mainFont);
        border-bottom: none;
    }

    .left__gallery .work__item:last-of-type{
        border-bottom: 1px solid var(--mainFont);
    }

    .first__work__item, .last__work__item{
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
    }

    .last__work__item{
        border-top: 1px solid var(--mainFont);
    }

    .right__gallery {
        transition: transform 0.1s ease-out;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1300px) {
}

/* Double Extra large devices (x-large desktops, 1200px and up) */
@media (min-width: 1700px) {
}
