/* Footer */

footer {
    border-top: var(--mainFont) 2px solid;
    margin: 2rem 0 4rem 0;
    display: flex;
    flex-direction: column;
}

footer > * {
    margin-top: 2em;
}

footer .footerCol:not(:last-of-type) {
    padding-bottom: 2rem;
    border-bottom: var(--mainFont) 2px solid;
}


.footerTitle {
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
    cursor: default;
}

/* Social widget */

.socials__icons {
    filter: var(--mainFontFilter);
    height: 3rem;
    margin: .5rem 0;
}

.social__links {
    display: flex;
    width: min-content;
    flex-direction: column;
}


/* Sitemap */

.footerCol li a {
    display: block;
    color: var(--mainFont);
    font-size: 1.5rem;
    transition: transform .5s ease-in-out;
}

.footerCol li {
    margin-bottom: .5rem;
    height: 1.5rem;
    width: max-content;
    overflow: hidden;
    cursor: pointer;
}

.footerCol li:hover a{
    transform: translateY(-2rem);
}

.afterLinks{
    display: block;
}