/* Footer */

footer {
    border-top: var(--mainFont) 2px solid;
    margin: 2rem 0 4rem 0;
    display: flex;
    flex-direction: column;
}

footer > * {
    margin-top: 2em;
}

footer .footerCol:not(:last-of-type) {
    padding-bottom: 2rem;
    border-bottom: var(--mainFont) 2px solid;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    footer {
        margin-left: 25vw;
        flex-direction: row;
        justify-content: space-between;
    }
    footer .footerCol:not(:last-of-type) {
        border-bottom: none;
    }
}


.footerTitle {
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
    cursor: default;
}

/* Social widget */

.socials__icons {
    filter: var(--mainFontFilter);
    height: 3rem;
    margin: .5rem 0;
}

.social__links {
    display: flex;
    width: min-content;
    flex-direction: column;
}

.social__link{
    transition: all .3s ease-out;
    display: block;
    width: max-content;
}


/* Sitemap */

.footerCol li a{
    font-size: 1.5rem;
    display: block;
}

.footerCol li{
    margin-bottom: .5rem;
    height: 1.5rem;
    cursor: pointer;
}

/* Footer text */

.textwidget p{
    cursor: default;
}

/* roll effect */

.footerCol li a{
    transition: transform .5s ease-in-out;
}

.footerCol li{
    width: max-content;
    overflow: hidden;
}

.footerCol li:hover a{
    transform: translateY(-2rem);
}

.afterLinks{
    display: block;
}