footer{
    border-top: var(--mainFont) 2px solid;
    margin: 2rem 0 4rem 0;
    display: flex;
    flex-direction: column;
}

footer > * {
    margin-top: 2em;
}

#wpadminbar{
    margin-top: 0;
}

.footerTitle{
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
    cursor: default;
}

.footerCol li a{
    color: var(--mainFont);
    font-size: 1.5rem;
}

.footerCol li{
    margin-bottom: .3rem;
}

.socials__icons{
    filter: var(--mainFontFilter);
    height: 3rem;
    margin: .5rem 0;
}

.social__links{
    display: flex;
    width: min-content;
    flex-direction: column;
}

footer .footerCol:not(:last-of-type) {
    padding-bottom: 2rem;
    border-bottom: var(--mainFont) 2px solid;
}