header{
    z-index: 1;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    margin: 0 -2rem 2rem -2rem;
    padding: 0 2rem;
    background: var(--mainBackground);
}

.header__items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__border{
    height: 2px;
    background: var(--mainFont);
    margin: 0 -2rem;
    transform: scaleX(0);
    transition: transform .5s ease-in;
    transform-origin: right;
}

.header__border__active{
    transform: scaleX(1);
}

header .header__logo{
    margin: 0.8rem 0 0.8rem 0;
    height: 3rem;
    width: auto;
}

.noScroll{
    overflow: hidden;
    height: 100vH;
}


/* menu items */

header .nav_menu{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;

    margin: 0 -2rem 2rem 100%;
    padding: 0 2rem;

    font-size: 3rem;

    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    backdrop-filter: blur(5.7px);
    -webkit-backdrop-filter: blur(5.7px);

    transition: all 0.3s ease-in-out;
}

header .nav_menu li{
    margin-bottom: 0.2rem;
    height: 3rem;
}
header .nav_menu li a{
    display: block;
}

.nav_menu .current-menu-item{
    font-weight: bold;
}

header .nav_menu__expanded{
    margin-left: 0;
}


/* hamburger menu btn */

.hamburger__toggle{
    cursor: pointer;
    padding: 0.6rem 0;
    z-index: 1;
    overflow: hidden;
}

.hamburger__btn{
    height: 3px;
    width: 2rem;
    background: var(--mainFont);
    transition: all 0.3s ease-out;
}

.hamburger__btn:after, .hamburger__btn:before{
    content: '';
    position: absolute;
    height: 3px;
    width: 2rem;
    background: var(--mainFont);
}

.hamburger__btn::before{
    transform: translateY(-0.6rem);
    transition: all 0.3s ease-out;
}
.hamburger__btn::after{
    transform: translateY(0.6rem);
    transition: all 0.3s ease-out;
}

.hamburger__toggle__expanded .hamburger__btn{
    transform: translateX(-2rem);
    background: transparent;
}

.hamburger__toggle__expanded .hamburger__btn::before{
    transform: translateY(0) translateX(2rem) rotate(45deg);
}
.hamburger__toggle__expanded .hamburger__btn::after{
    transform: translateY(0) translateX(2rem) rotate(-45deg);
}
/* media queries */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .hamburger__btn{
        display: none;
    }

    header .nav_menu{
        position: static;
        flex-direction: row;
        align-items: center;
        width: auto;
        height: auto;
        margin: 0;
        font-size: 2rem;
    }

    header .nav_menu li{
        margin: 0 0 0 1rem;
        height: 2rem;
    }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* Double Extra large devices (x-large desktops, 1200px and up) */
@media (min-width: 1700px) {
}
