/* roll effect */

.roll__effect > * {
    transition: transform .5s ease-in-out;
}

.roll__effect {
    width: max-content;
    overflow: hidden;
}

.roll__effect:hover > *{
    transform: translateY(-1.2em);
}

.afterRollElements{
    display: block;
}