/*Reset css */

*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
}

html, body{
    overflow-x: clip;
    scroll-behavior: smooth;
    text-align: justify;
    text-justify: inter-word;
}


/* base css */

#wpadminbar{
    margin-top: 0;
}

body{
    padding: 0 2rem 0 2rem;
    background: var(--mainBackground);
    color: var(--mainFont);
    font-family: 'Plus Jakarta Sans', sans-serif;
}

li{
    list-style: none;
}

a{
    color: var(--mainFont);
    text-decoration: none;
}


/* scroll bar */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--mainBackground);
}

::-webkit-scrollbar-thumb {
    background: var(--mainFont);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--mainFontHover);
}


/* media queries */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* Double Extra large devices (x-large desktops, 1200px and up) */
@media (min-width: 1700px) {
}
